%center.language
	.choose1-container
		%center
			%h2.font
				Zvol jazyk
	.flags-container
		.cz
			= link_to set_locale_dashboard_index_path(:locale => :cs) do
				= image_tag 'cz-flag.jpg', :class => "flag"
		.en
			= link_to set_locale_dashboard_index_path(:locale => :en) do
				= image_tag 'uk-us-flag.png', :class => "flag"
	.choose2-container
		%center
			%h2.font
				Choose language

