%center
	.flags-container
		.cz
			= link_to set_locale_dashboard_index_path(:locale => :cs) do
				= image_tag 'cz-flag.jpg', :class => "flag"
		.en
			= link_to set_locale_dashboard_index_path(:locale => :en) do
				= image_tag 'uk-flag.png', :class => "flag"

