
%h1.font.black_font
	Zvol program:

- if @user_programs.empty?
	%h1.font.black_font
		Užívatel nemá žáden program

- else
	%table.table.programs
		%thead
			%tr
				%th.name
				%th.action1
				%th.action2

		%tbody
			-@user_programs.each do |program|
				%tr
					%td.name
						%h2
							= program.name
					%td.action1
						= link_to "Mé info", root_path, :class => "btn btn-primary btn-xlarge"

= render :partial => "common/back"