
%h1.font.black_font
	Zvol program:

- if @user_program.nil?
	%h1.font.black_font
		Užívatel nemá žáden program

- else
	%table.table.info_table
		%thead
			%tr
				%th.name
				%th.action1

		%tbody
			%tr
				%td.name
					%h2
						= @user_program.name
				%td.action1
					= link_to "Mé info", user_info_user_program_path(@user.id, @user_program.id), :class => "btn btn-primary btn-xlarge"

.back-btn
	= link_to "Zpět", info_users_path, :class => "btn btn-warning btn-xlarge"


