/*
 *= require bootstrap
 *= require font-awesome
 */


body {
	background-image: url('background.jpg');

}

.navbar {
	margin-top: 20px;
}

table.users,
table.programs,
table.tasks {
	margin-top: 20px;
	thead {
		th.name {
			width: 200px;
		}
		th.program-name{
			width: 300px;
		}
		th.program {

		}
		th.action {
			width: 280px;
		}
		th.program-action{
			width: 400px;
		}
		th.tasks{
			width: 50px;
		}
	}

	tbody {
		.show_link {
			margin-right: 20px;
		}

		.edit_link {
			margin-right: 20px;
		}
	}
}

.new_task_form {
	textarea {
		width: 380px;
		height: 100px;
	}

	.areas{
		display: inline-block;

		.task,
		.question,
		.reverse,
		.rec {
			margin-right: 50px;
		}
	}

	#answer1,
	#answer2,
	#answer3,
	#answer4,
	#answer5 {
		width: 400px;
	}

	.add_answer{
		margin-bottom: 25px;
		width: 413px;
	}
	.submit {
		width: 413px;
	}
}


.icon-ok {
	color: #75f11a;
	text-shadow:1px 3px #000000;
}
.icon-remove {
	color: #FF0602;
	text-shadow:1px 3px #000000;
}
.icon-question {
	color: #fdef0e;
	text-shadow:1px 3px #000000;
}

.tooltip-and-answers {
	position: relative;
	.answers {
		min-height: 215px;
	}
	.tooltips {
		position: absolute;
		background-color: #f9f9f9;
		padding: 10px;
		border-radius: 10px;
		right: 60px;
		top: 5px;
		width: 380px;
		min-height: 120px;
		.header {
			font-weight: bold;
		}
		.tab-content {
			font-size: 12px;
		}
	}
}