/*
 *= require bootstrap
 *= require font-awesome
 */


body {
	background-image: url('background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.navbar {
	margin-top: 20px;
}

table.users,
table.programs,
table.tasks {
	margin-top: 20px;
	thead {
		th.name {
			width: 200px;
		}
		th.program-name{
			width: 300px;
		}
		th.program {

		}
		th.action {
			width: 250px;
		}
		th.program-action{
			width: 400px;
		}
	}

	tbody {
		.show_link {
			margin-right: 20px;
		}

		.edit_link {
			margin-right: 20px;
		}
	}
}

.new_task_form {
	textarea {
		width: 380px;
		height: 100px;
	}

	.areas{
		display: inline-block;

		.task,
		.question,
		.reverse,
		.rec {
			margin-right: 50px;
		}
	}

	#answer1,
	#answer2,
	#answer3,
	#answer4,
	#answer5 {
		width: 450px;
	}

	.add_answer{
		margin-bottom: 25px;
	}
}

