
.back-btn-extended
	%table
		%tbody
			%tr
				%td.back-btn2
					= link_to "Zpět", :back, :class => "btn btn-warning btn-xlarge"

				%td.play-track-btn
					= link_to :back, :class => "btn btn-info btn-xlarge" do
						%i.icon-volume-up.icon-white.icon-large

				%td.ok-btn
					= link_to "OK", :back, :class => "btn btn-success btn-xlarge"

